<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerome the Gnome</title>
  <meta charset="UTF-8">
  <!-- Link to materialize CSS -->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
  {{{ body }}} 
  <!-- Jquery and base file link for script of navbar, will need other pages scripts below -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/script.js"></script>
</body>

</HTML>
