<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerome the Gnome</title>
  <meta charset="UTF-8">
  <!-- Link to materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Logo</a>
      {{!-- add logo --}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><button><a href="./search">search character</a></button></li>
         {{!-- hrefs to be changed when routes are decided, avoid spaces --}}
        <li><button><a href="./create">create character</a></button></li>
        {{!-- hrefs to be changed when routes are decided, avoid spaces  --}}
        <li><button><a href="./all">all character</a></button></li>
        {{!-- hrefs to be changed when routes are decided, avoid spaces --}}
      </ul>
    </div>
  </nav>

  {{{ body }}} 
  <!-- Jquery and base file link for script of navbar, will need other pages scripts below -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/script.js"></script>
</body>

</HTML>
