<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerome the Gnome</title>
  <meta charset="UTF-8">
  <!-- Link to materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
  <div>
    <button><a href="./search characters">create character</a></button>
    <button><a href="./create characters">create character</a></button>
    <button><a href="/all characters">all character</a></button>
  </div>
  {{{ body }}} 
  <!-- Jquery and base file link for script of navbar, will need other pages scripts below -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/script.js"></script>
</body>

</HTML>
