<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gerome the Gnome</title>
  <meta charset="UTF-8">
  <!-- Link to materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
  <div class="nav">
        <a href="/" class="logo"><img src="/assets/images/gerome-log_header.png" alt="Gerome the Gnome Logo"></a>
        <div class="navigation_bar">
          <ul class="navigation">
            <li><a href="/">Create</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/characters">All Characters</a></li>
          </ul>
        </div>
  </div>
  
  <div id="content-wrap">
  {{{ body }}} 
  </div>
    <footer>
          © 2020 Gerome the Gnome 
    </footer>
     
  <!-- Jquery and base file link for script of navbar, will need other pages scripts below -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/assets/js/script.js"></script>
</body>

</HTML>
