<div class="container">
  <div class="row">
    <form id="newChar">
      <div class="input-field col s12">
        <select class="browser-default" id="gender">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <label>Gender</label>
        </select>
      </div>
      <div class="input-field col s12">
        <!-- To be dynamically built in the future using the race table -->
        <select class="browser-default" id="race">
          <option value="" disabled selected>Race</option>
          <option value="0">Human</option>
          <option value="1">Dwarf</option>
          <option value="2">Elf</option>
          <option value="3">Halfling</option>
          <!-- {{#each Races}}
          <option value=`{{id}}`>{{raceType}}</option>
          {{/each}}  -->
          <label>Race</label>
        </select>
        
      </div>
      <div class="input-field col s12">

        <select class="browser-default" id="class">
          <!-- To be dynamically built in the future using the class table -->
          <option value="" disabled selected>Class</option>
          <option value="0">Fighter</option>
          <option value="1">Rogue</option>
          <option value="2">Wizard</option>
          <option value="3">Cleric</option>
          <!-- {{#each Class}}
          <option value=`{{id}}`>{{title}}</option>
          {{/each}} -->
          <label>Class</label>
        </select>
      </div>
      <div class="input-field col s12">
        <select class="browser-default" id="mainatr">
          <option value="" disabled selected>Main Stat</option>
          <option value="str">Strength</option>
          <option value="dex">Dexterity</option>
          <option value="con">Constitution</option>
          <option value="itl">Intellect</option>
          <option value="wis">Wisdom</option>
          <option value="cha">Charisma</option>
          <label>Main Stat</label>
        </select>
      </div>
      <input type="submit" class="creation col s12 center btn" value="Create Character">

    </form>
  </div>
</div>