body{
    background: #6466aa;
    font-family: 'Grenze Gotisch', cursive; 
    /* add a background-image of Gernome to the right of the table possible faded or an outline*/
    color:#6466aa; 
    text-align:center; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav{
    background-image: url(https://img.freepik.com/free-vector/abstract-gray-geometric-pattern-background_1035-18654.jpg?size=626&ext=jpg);
    color: rgb(0, 204, 255); 
    min-height: 80px;
}

.container{
    position: relative;
    min-height: 90%;
    text-align: center;
    /* border-radius: 25px; */
    padding: 5px 5x;
    /* height: fit-content; */
    width: fit-content;
    justify-content: center;
    margin-top: 10px ;
    font-size: 20px;

}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.card-stacked{
    background: beige;
    width: fit-content; 
    height: fit-content;
    text-align:center;

}

.btn {
    transition-duration: 0.4s;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px; 
    color:#6466aa; 
  }
  
  .btn:hover {
    /* background-image:url(https://www.shopsteins.com/prodimages/15319-DEFAULT-l.jpg); */
    background-size: cover; 
    
    
  }

  
  footer{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    background-color: #7d99b6;
    height: 40px;
    margin-top: 20px;
  }

  .table > td{
      padding:10px; 
      background:beige; 
      border:1px solid; 
      /* line-height:60px;  */
      text-align:center; 
  }

  